body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.buttons {
    position: relative;
    height: 200px;
}


button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    transition: 0.3s ease;
}


#yesBtn {
    background-color: #ff1744;
    color: white;
    left: 30%;
}

#yesBtn:hover {
    animation: moveAround 3s infinite alternate;
}


@keyframes moveAround {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(150px, -100px); }
    50%  { transform: translate(-150px, 100px); }
    75%  { transform: translate(100px, 150px); }
    100% { transform: translate(-100px, -150px); }
}


#noBtn {
    background-color: white;
    color: #ff1744;
    left: 55%;
}

#close{
    all: unset;
    position: absolute;
    background-color: #703A2F;
    top: 4px;
    right: 4px;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#message {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFFFFF;
    color: white;
    width: 500px;
    border-radius: 20px;
    padding: 40px 20px;
    font-size: 22px;
    animation: fadeIn 1s ease-in-out forwards;
}


#toggle:checked ~ #message {
    display: block;
}


#toggle {
    display: none;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}

}





